<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">

        <label for="name">Description</label>
        <textarea type="text" required class="form-control" id="description" [(ngModel)]="newQuote.description"
          name="description" #name="ngModel"></textarea>
      </div>

      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p> Description is Required</p>

      </div>
      <div class="form-group">

        <label for="name">Name</label>
        <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name"
          #name="ngModel">

      </div>

      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p> Name is Required</p>

      </div>
      <div class="form-group">

        <label for="name">Posted by:</label>
        <input type="text" required class="form-control" id="link" [(ngModel)]="newQuote.link" name="link"
          #name="ngModel">

      </div>

      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p> Publisher is Required</p>

      </div>
      <button type="Submit" class="btn btn-success btn-lg"> Add </button>

    </form>
  </div>
</div>
